/** @format */

.wrapper {
}
.category-list {
  width: 100%;
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 5px;
  padding: 5px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.category-item {
  height: 2.2rem;
  padding: 0 10px;
  display: inline-flex;
  justify-content: center;
  &:first-child {
    width: 30%;
  }
  &:nth-child(2) {
    width: 40%;
  }
  &:last-child {
    width: 30%;
  }
  input {
    width: 100%;
    padding: 0 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  h4 {
    font-size: 1.6rem;
    padding: 0 20px;
    margin-bottom: 0;
  }
}
.category-action {
}
.action-icon {
  font-size: 1.6rem;
  cursor: pointer;
  &:first-child {
    margin-right: 20px;
  }
  &:hover {
    opacity: 0.8;
  }
}
