/** @format */

.product-item {
  width: 100%;
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 5px;
  padding: 5px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.product-info {
  width: 20%;
  height: 2.2rem;
  padding: 0 10px;
  display: inline-flex;
  justify-content: center;
  &:first-child {
    h4 {
      display: flex;
      height: 100%;
      font-size: 1.6rem;
      justify-content: center;
    }
  }
  h4 {
    width: 70%;
    margin-bottom: 0;
    font-size: 1.6rem;
    height: 100%;
    white-space: nowrap;
    display: -webkit-box;
    display: flex;
    overflow-x: scroll;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    &::-webkit-scrollbar {
      display: none; /* for Chrome, Safari, and Opera */
    }
  }
  input {
    height: 100%;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  select {
    font-size: 1.2rem;
    height: 100%;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .product-action {
    display: flex;
    justify-content: center;
  }
  .product-status {
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-right: 20px;
    color: var(--primary-color);
  }
  .action-icon {
    font-size: 1.6rem;
    cursor: pointer;
    &:first-child {
      margin-right: 20px;
    }
    &:hover {
      opacity: 0.8;
    }
  }
}
