/** @format */

.wrapper {
  background-color: #fff;
  height: 500px;
  margin-right: 5px;
  border-radius: 4px;
  overflow: hidden;
}
.header {
  background-color: var(--secondary-color);
  padding: 10px 0;
  text-align: center;
  h1 {
    color: #fff;
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 0;
  }
}
.category-list {
  padding: 5px;
  list-style-type: none;
}
.category-item {
  font-size: 1.6rem;
  padding: 5px 20px;
  cursor: pointer;
  &.active {
    background-color: #ccc;
    border-radius: 4px;
  }
  h4 {
    font-size: 1.6rem;
    margin-bottom: 0;
  }
}
